<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/vishnucustom.css">
<body>
    <div class="flexbox">
        <% include vishnumenubar.ejs %>
        <div class="content">
            <br>
            <h3 align="center">รายชื่อนิสิตที่เข้าร่วมกิจกรรม <%= Aname %></h3>
            <br>
            <table style="width:100%">
                <tr>
                    <td><h5>รหัสนิสิต</h5></td>
                    <td><h5>ชื่อ-นามสกุล</h5></td>
                    <td><h5>ชั้นปีที่</h5></td>
                    <td><h5>ชื่อกรุ๊ป</h5></td>
                </tr>
                <% if(typeof result !== "undefined") result.forEach(function(result){ %>
                <tr>
                    <td><%= result.Sid %></td>
                    <td><%= result.Sname %></td>
                    <td><%= result.Syear %></td>
                    <td><%= result.Group_name %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
</body>
<% include footer.ejs %>