<% include header.ejs %>
<style>
        html, body {
            height: 100%;
            margin: 0;
            text-align: center;
        }

        div.flexbox {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }

        div.menubar {
            float: left;
            background-color: #f4f4f4c9;
            width: 300px;
            height: 100%;
        }

        .schoolimg {
            height: 150px; 
            width: auto; 
        }

        div.menubar > ul {
            position: relative;
            margin-right: auto;
            margin-left: auto;
            padding-left: 0;
            padding: 0;
        }
        
        div.content{
            position: relative;
            float: left;
            height: 100%;
            width: 100%;
        }

        #hangbottom {
            position: relative;
            bottom: 10%;
            width: 40%;
            top: 300px;
        }
        
        table { 
            position: relative;
            margin: auto;
            border: none;
        } 

        tr {
            width: 100%;
            border: none;
        }
        tr:hover {
            background-color: #ffff99;
        }
        td.icon{
            padding-right: 10px;
        }

        a { 
            color: inherit; 
        } 
</style>

<body>
    <div class="flexbox">
        <% include menubar.ejs %>
        <div class="content">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject Code</th>
                        <th scope="col">Subject Name</th>
                        <th scope="col">Section Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><%= sCode1 %></td>
                        <td><%= sName1 %></td>
                        <td><%= sNo1 %></td>
                    </tr>
                    <% if(sCode2) { %>
                    <tr>
                        <th scope="row">2</th>
                        <td><%= sCode2 %></td>
                        <td><%= sName2 %></td>
                        <td><%= sNo2 %></td>
                    </tr>
                    <% } %>
                    <% if(sCode3) { %>
                    <tr>
                        <th scope="row">3</th>
                        <td><%= sCode3 %></td>
                        <td><%= sName3 %></td>
                        <td><%= sNo3 %></td>
                    </tr>
                    <% } %>
                    <% if(sCode4) { %>
                    <tr>
                        <th scope="row">4</th>
                        <td><%= sCode4 %></td>
                        <td><%= sName4 %></td>
                        <td><%= sNo4 %></td>
                    </tr>
                    <% } %>
                    <% if(sCode5) { %>
                    <tr>
                        <th scope="row">5</th>
                        <td><%= sCode5 %></td>
                        <td><%= sName5 %></td>
                        <td><%= sNo5 %></td>
                    </tr>
                    <% } %>
                    <% if(sCode6) { %>
                    <tr>
                        <th scope="row">6</th>
                        <td><%= sCode6 %></td>
                        <td><%= sName6 %></td>
                        <td><%= sNo6 %></td>
                    </tr>
                    <% } %>
                    <% if(sCode7) { %>
                    <tr>
                        <th scope="row">7</th>
                        <td><%= sCode7 %></td>
                        <td><%= sName7 %></td>
                        <td><%= sNo7 %></td>
                    </tr>
                    <% } %>
                    <% if(sCode8) { %>
                    <tr>
                        <th scope="row">8</th>
                        <td><%= sCode8 %></td>
                        <td><%= sName8 %></td>
                        <td><%= sNo8 %></td>
                    </tr>
                    <% } %>
                    <% if(sCode9) { %>
                    <tr>
                        <th scope="row">9</th>
                        <td><%= sCode9 %></td>
                        <td><%= sName9 %></td>
                        <td><%= sNo9 %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</body>
<% include footer.ejs %>