<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/vishnucustom.css">
<body>
    <div class="flexbox">
        <% include vishnumenubar.ejs %>
        <div class="content">
            <br>
            <h2 align="center">เพิ่ม/ลดนิสิตที่เข้าร่วมกิจกรรม</h2>
            <br>
            <h4 align="center">รายชื่อกิจกรรมทั้งหมด</h5>
            <br>
            <table style="width:100%">
                <tr>
                    <td><h5>ชื่อกิจกรรม</h5></td>
                    <td><h5>ปีการศึกษา</h5></td>
                    <td><h5>สถานที่</h5></td>
                    <td><h5>วันที่</h5></td>
                    <td><h5>เวลาเริ่ม</h5></td>
                    <td><h5>เวลาจบ</h5></td>
                    <td><h5>รายชื่อนิสิต</h5></td>
                    <td><h5>ตัวเลือก</h5></td>
                </tr>
                <% if(typeof result !== "undefined") result.forEach(function(result){ %>
                <tr>
                    <td><%= result.Aname %></td>
                    <td><%= result.Ayear %></td>
                    <td><%= result.Pname %></td>
                    <td><%= result.Hdate %></td>
                    <td><%= result.Begin_time %></td>
                    <td><%= result.End_time %></td>
                    <td>
                        <% let url = "/activitystudentinfo/" + result.Aname; %>
                        <a href="<%= url %>">
                        <button type="button" class="btn btn-primary">ดู</button>
                        </a>
                    </td>
                    <td><div class="dropdown">
                        <% let url2 = "/addnisitactivity/" + result.Aname; %>
                        <a href="<%= url2 %>">
                        <button type="button" class="btn btn-primary">เพิ่มนิสิต</button>
                        </a>
                    </div></td>
                    <% }); %>
                </tr>
            </table>
        </div>
    </div>
</body>
<% include footer.ejs %>