<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/vishnucustom.css">
<body>
    <div class="flexbox">
        <% include vishnumenubar.ejs %>
        <div class="content">
            <br>
            <h2 align="center">ค้นหาข้อมูลนิสิต</h2>
            <br>
            <form class="form-inline" action="/findstudent" method="post">
                <div class="col-md-5">
                    <label for="StudentCode">Student ID</label>
                    <input type="text" name="SID" class="form-control">
                </div>
                <div class="col-md-2">
                    <button type="Submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <br>
            <% if(typeof result !== "undefined")result.forEach(function(result){ %>
                <h4 align="center">ข้อมูลนิสิต</h4>
                <br>
                <h5 align="center">Name : <%= result.Sname %></h5>
                <h5 align="center">Student ID : <%= result.Sid %></h5>
                <h5 align="center"><%= result.Faculty %></h5>
                <h5 align="center">Degree : <%= result.Educational_level %></h5>
                <br>
                <h5 align="center">Group : <%= result.Group_name %></h5>
                <h5 align="center">สถานะการเข้าร่วมส่วนกลาง : <%= result.Cdept_name %> </h5>
            <% }); %>
            <br>
        </div>
    </div>
</body>
<% include footer.ejs %>