<% include header.ejs %>
<link rel="stylesheet" href="/public/assets/css/vishnucustom.css">
<body>
    <div class="flexbox">
        <% include vishnumenubar.ejs %>
        <div class="content">
            <br>
            <h2 align="center">ข้อมูลนิสิต</h2>
            <br>
                <h5 align="center">Name : <%= Sname %></h5>
                <h5 align="center">Student ID : <%= Sid %></h5>
                <h5 align="center"><%= Faculty %></h5>
                <h5 align="center">Degree : <%= Educational_level %></h5>
                <br>
                <h5 align="center">Group : <%= Group_name %></h5>
                <h5 align="center">สถานะการเข้าร่วมส่วนกลาง : <%= Cdept_name %> </h5>
            <br>
            <h3 align="center">รายชื่อกิจกรรมที่นิสิตเข้าร่วม</h3>
            <table style="width:100%">
                <tr>
                    <td><h3>ชื่อกิจกรรม</h3></td>
                    <td><h3>ปีการศึกษา</h3></td>
                </tr>
                <% if(typeof result !== "undefined") result.forEach(function(result){ %>
                <tr>
                    <td><%= result.Aname %></td>
                    <td><%= result.Ayear %></td>
                </tr>
                <% }); %>
            </table>
        </div>
    </div>
</body>
<% include footer.ejs %>